/* styles.css */
#reviewTime .rowLine{
	border-bottom: 3px solid #333;
	border-radius: 3px; /* 또는 다른 원하는 값 */
	font-size: 30px;
	padding-bottom: 20px;
}
.review-list {
    text-align: center;
    margin-top: 20px;
}
.review-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.review-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;

}
.user-id {
    font-weight: bold;
}
.star-rating {
    display: inline-block;
    font-size: 20px;
    color: orange;
}
.review-content {
    margin-top: 10px;
}
.sort {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start; /* 요소들을 왼쪽으로 정렬합니다. */
}

.sortTab {
    margin-right: 10px; /* 각 탭 사이의 간격을 조정합니다. */
    margin-top: 5px;
}

/* 첫 번째 요소는 margin-left를 0으로 설정하여 맨 왼쪽에 붙도록 합니다. */
.sortTab:first-child {
    margin-left: 50px;
}

